In [15]:
import pandas as pd

In [16]:
data = pd.read_csv("compiled.csv",names=["index","t1","t2","ji","cg"])

In [17]:
data

,index,t1,t2,ji,cg
0,0,The Golden Girls,�gua Viva,0.000000,0
1,1,Sigurd f�kke pult,The Man Behind the Badge,0.000000,0
2,2,Celebrity Family Feud,Man O Man,0.140797,1
3,3,Hello! Sandy Bell,Minuscule,0.327541,1
4,4,"Sangdoo, Let's Go to School!",The Walter Winchell File,0.562254,1
...,...,...,...,...,...
3529180,3529180,High Feather,The Exchange Principle,0.298897,1
3529181,3529181,Preacher,The New Loretta Young Show,0.250358,1
3529182,3529182,Drift This!,WWE Velocity,0.613977,1
3529183,3529183,E/R,Mayo chiki!,0.231563,1
3529184,3529184,Buy Me,Marvel Studios: Assembled,0.123172,1

In [34]:
title = input("Enter a movie to recommend against: ")

new_data = data[data["t1"]==title]
new_data.sort_values(["ji"],ascending=False).head(n=10)

,index,t1,t2,ji,cg
1678661,1678661,Brooklyn Nine-Nine,Crime Scene Cleaner,0.750000,2
2424675,2424675,Brooklyn Nine-Nine,To Catch a Killer,0.747573,1
3211398,3211398,Brooklyn Nine-Nine,The New Scooby-Doo Mysteries,0.739535,1
2421364,2421364,Brooklyn Nine-Nine,Les Bobos,0.737374,1
2170939,2170939,Brooklyn Nine-Nine,Sports Night,0.737374,1
840133,840133,Brooklyn Nine-Nine,Mischievous Detectives,0.733010,1
665609,665609,Brooklyn Nine-Nine,Ikkyu the Little Monk,0.728111,1
835918,835918,Brooklyn Nine-Nine,Ted Lasso,0.723684,1
1067323,1067323,Brooklyn Nine-Nine,Dae Jang-Geum Is Watching,0.721973,1
3120901,3120901,Brooklyn Nine-Nine,Weekends,0.721739,1